<footer>
  <div class="box border-top">
    <div class="header1">
      <i class="fa-solid fa-globe"></i>
      <span>ENGLISH(IN)</span> &nbsp; &#8377;<span>INR</span>
      &nbsp;
      <span><i class="fa-brands fa-square-facebook"></i> &nbsp; <i class="fa-brands fa-square-twitter"></i>
        &nbsp; <i class="fa-brands fa-square-instagram"></i>
      </span>
    </div>
    <div class="header2">
      <span>&#169; 2023 Airbnb, co.in;</span>
      <ul>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="">CompanyDetails</a></li>
      </ul>
    </div>
  </div>
</footer>